body {
    background: url(bg.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}

h1 {
    position: relative;
    text-align: center;
    font-size: 96px;
    padding: 10px 0;
    height: 100px;
    background-color: whitesmoke;
    width: 100vw;
    margin-left: -50vw;
    left: 50%;
    margin-top: 20px;
}

#container {
    display: grid;
    background-color: whitesmoke;
    height: 600px;
    width: 600px;
    border-width: 3px;
    border-style: solid;
    border-color: black;
    box-shadow: 10px 10px 5px grey;
    margin-left: auto;
    margin-right: auto;
}

#grid {
    display: grid; 
}

.grid-cell {
    border-width: 1px;
    border-style: solid;
    border-color: black;
}
