body {
    background: url(bg.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}

h1 {
    position: relative;
    text-align: center;
    font-size: 96px;
    padding: 10px 0;
    height: 100px;
    background-color: whitesmoke;
    width: 100vw;
    margin-left: -50vw;
    left: 50%;
    margin-top: 20px;
}

#grid {
    display: grid;
    background-color: whitesmoke;
    height: 600px;
    width: 600px;
    border-width: 3px;
    border-style: solid;
    border-color: black;
    box-shadow: 5px 2px 22px 7px #000000;
    margin: 0 auto;
    
}

#container {
    text-align: center;
    width: 100%;
}

.grid-cell {
    border-width: 1px;
    border-style: solid;
    border-color: rgb(223, 223, 223);
}

.button {
    width: 120px;
    color: rgb(48, 9, 9);
    font-size: 16px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 3px 3px 6px 4px rgb(31, 31, 31);
    margin-top: 10px;
    margin-bottom: 25px;
    margin-left: 20px;
    margin-right: 20px;
}